.networkCustomization {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
  }
}