.changePassword {
  padding: 20px;
  form {
    display: flex;
    flex-direction: column;
    div {
      margin-bottom: 15px;
      label {
        margin-right: 10px;
      }
      input {
        padding: 5px;
      }
    }
    button {
      padding: 10px;
      background-color: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}